body, html {height: 100%}
body,h1,h2 {font-family: "Amatic SC", sans-serif}

body{
    margin: 0;
    padding: 0;
    
    background-color: grey;
}

.titulo{
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 70px;
    
}



.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    height: 60px;
    background-color:black;
    line-height: 60px;
}

.volver{
    position: relative;
    color: white;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    
    
}

.volver{
  color: white;
  transition: color .1s;
}
.volver:hover{
  color: black;
}
.volver{
  background-color: black;
  transition: background-color .1s;
}

.volver:hover{
  background-color: rgb(190, 190, 190);
}



.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  
  .img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
    
  }
      
 
  .pie{
    text-align: center;
    padding-top: 5%;
    background-color:black;
    line-height: 187px;

  }

  .titulo2{
    color: white;
    font-size: 80px;
    margin-top: 100px;

  }

  .eu{
    background-color:black;
  }

  .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 40px;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }

  .uno{
    font-family: "Amatic SC";
    font-size: 30px;
    
  }

  .dos{
    font-family: "Amatic SC";
    font-size: 30px;
  }

  .tres{
    font-family: "Amatic SC";
    font-size: 30px;
    color: grey;
  }

  .cuatro{
    font-family: "Amatic SC";
    font-size: 30px;
  }

  .cinco{
    font-family: "Amatic SC";
    font-size: 30px;
    color: grey;
  }

  input[type="text"] {
     width: 600px;
     height: 50px; 
    }

  input[type="number"] {
      width: 600px;
      height: 50px; 
     }

  input[type="datetime-local"] {
      width: 600px;
      height: 50px; 
      
     }

     button[type="submit"] {
      width: 600px;
      height: 50px; 
     }
  